# Σκουπίδια συστήματος
__pycache__/
.idea/
.ipynb_checkpoints/

# Μυστικά (Απαγορεύεται να ανέβουν)
.env

# Το μεγάλο αρχείο που δεν θέλουμε (Απαγορεύεται)
amazon_reviews.csv

# Βαριά μοντέλα
*.bin
*.safetensors
